<div class="container">
  <div class="games">
    <h2>You have <%= @games.count %> uploaded games</h2>
    <ul class="game-list">
    <% @games.each do |game| %>
      <li class="game-item"><%= link_to game.title, review_game_url(game.id) %></li>
    <% end %>
    </ul>
  </div>
  <%= render 'games/new' %>
</div>
