<li class='new-variation'>
  <div class="mockup-content">
    <div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
    <button type="button">Test a variation</button>
      <div class="morph-content">
        <div>
          <div class="content-style-form content-style-form-1">
            <span class="icon icon-close" id="closeVariation">Close the dialog</span>
            <h2>Variation</h2>
            <div class="variation-container">
              <aside class="review-container">
                <div id="variation"></div>
              </aside>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- morph-button -->
</li>
