<div class="container">
  <h1>All you have to do is upload a game</h1>

  <div class="upload-options-container">
    <section class="manual-upload-section">
      <h2>Manually upload your game</h2>
      <p class="explenation">If you do not have digital PGN you can copy/paste, no worries. Click the link below and manually play out the game or variation you'd like to review.</p>
      <%= link_to "Create a game manually", games_url, method: 'post' %>
    </section>

    <section class="digital-upload-section">
      <h2>Digital upload your game</h2>
      <p class="explenation">
        If you have any form of PGN digitally, just copy and paste it into the box below, and we'll take care of it from there.
      </p>

      <%= form_tag games_url, method: 'post', id: "uploadPgn" do %>
        <p><label>PGN <span>(Notes inside of the PGN will not work)</span></label><textarea placeholder="Example: 1. e4 e5 2. Bc4 Nc6 3. Qf3 Nd4 4. Qxf7#"></textarea></p>
        <button class="ladda-button spinner" data-style="expand-right" data-spinner-color="white">
          <span class="ladda-label">Submit</span>
        </button>

        <%= hidden_field_tag :parsed_notation, '', id: "hiddenParsedNotation" %>
        <%= hidden_field_tag :upload, value: true %>
      <% end %>

    </section>
  </div>
</div>
