.container {
  padding-top: 10px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .game-container {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .actual-board-container {
      width: 50%;
      float: left;
      margin: 0 auto;
      text-align: center;
      position: relative;
    }

    .game-navigation {
      text-align: center;
      margin: 10px 0;
      li {
        display: inline-block;
        padding: 2px 5px;

        a {
          text-decoration: none;
          padding: 5px 10px;
          border: 2px solid $concrete;
          color: black;
          @include hover-transition;

          &:hover {
            border: 2px solid black;
          }
        }
      }
    }
    .board-features {
      width: 29%;
      float: left;
      background-color: white;
      overflow-y: scroll;
      height: 500px;

      h1 {
        font-size: $header;
        text-align: center;
      }
      .board-status {
        text-align: center;
      }
      .pgn-conatiner {
        ul {
          padding: 5px;
          li {
            margin: 15px;
            border-bottom: 1px solid #ccc;
            span {
              padding: 5px 15px;
            }
          } // li
        } // ul
      } // pgn-container
    } // board-features
  }
} // Main container

textarea {
  margin-top: 20px;
  border: 1px solid black;
  width: 500px;
  height: 200px;
}
