.page-container {
  width: 90%;
  .game-container {
    width: 55%;
    margin: 0 2.5%;
    float: left;
    .actual-board-container {
      margin: 0 auto;

      .board-feature-links {
        li {
          display: inline-block;
          margin: 10px 0;
          } // li
        .flip-orientation {
          margin: 10px 0;
          a {
            @include designer-normal-link(black);
          }
        } // flip-orientation

        .new-variation {
          float: right;
          a {
            @include designer-normal-link(green);
          }
        } // new-variation
      } // board-feature-links

      .game-navigation {
        text-align: center;
        li {
          display: inline-block;
          padding: 2% 5%;

          a {
            @include hover-transition-all;
            font-size: 16px;
            color: #ccc;

            &:hover {
              color: black;
            }
          }
        } // li
      } // game-navigation
    } // actual-board-container
  } // game-container

  .vid-chat {
    width: 35%;
    float: left;
    margin: 2% 2.5%;
    overflow-y: auto;
    @extend %group;
  } // notes

  .master-notes-container {
    @extend %group;
  } // master-notes-container
} //container

.review-container {
  width: 55%;
  margin: 0 2.5%;
  float: left;
  h2 {
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

  .variations-saved-container {
    width: 35%;
    float: left;
    overflow-y: auto;
    @extend %group;
  }

  .video-stream {
    display: inline-block;
  }

  #youPublisher {
    display: inline-block;
  }
