body {
  background-color: $basecamp_background;
  font-family: 'Droid Serif', serif;
}

@mixin hover-transition {
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

@mixin designer-normal-link($color) {
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid $concrete;
  color: black;
  @include hover-transition;

  &:hover {
    border: 2px solid $color;
  }
}
